{% extends 'core/base.html' %} {% block title %}Juego{% endblock %} 
{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}
{% block headers %}
<div id="cuenta" class="animate__animated animate__bounce"></div>
<script>
   function validarPregunta(opcion) {
     const url = "{% url 'juego' categoriaId=3 preguntaId=1 %}";
     window.location.href = url;
   }

   function cuentaRegresiva(numero) {
     const respuesta = "{{pregunta.pregunta}}";
     const cuenta = document.createElement('h1');
     var contador = numero;
     cuenta.innerHTML = '<span>'+contador+'</span>';
     document.getElementById("cuenta").appendChild(cuenta);
     var preguntaCountdown = setInterval(function(){
       console.log(contador);
       contador--
       if (contador < 0) {
         clearInterval(preguntaCountdown);
         cuenta.innerHTML = '<div class="animate__animated animate__heartBeat animate__delay-10s fail_color">¡Tiempo fuera!</div>';
         document.getElementById("cuenta").appendChild(cuenta);
         setTimeout(() => {
           const url = "{% url 'juego' categoriaId=3 preguntaId=1 %}";
           window.location.href = url;
          }, 5000);
       } else {
         cuenta.innerHTML = '<span>'+contador+'</span>';
         document.getElementById("cuenta").appendChild(cuenta);
       }
     }, 1000);
   }
   cuentaRegresiva(20);
</script>
<span class="subheading">{{categoria.nombre}}</span>
{% endblock %} 

{% block content %}
<div class="row">
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img
      class="img-fluid"
      src="{{pregunta.imagen}}"
      alt=""
    />
  </div>
  <div class="col-lg-7 col-md-8">
    <h4 class="section-heading">{{pregunta.pregunta}}</h4>
    {%for op in opciones %}
    <div><button type="button" class="btn btn-outline-dark btn-block j-button">{{op.opcion}}</button></div>
    {% endfor %}
  </div>
</div>
{% endblock %} 
