{% extends 'core/base.html' %} {% block title %}Juego{% endblock %} 
{% block background %}{% load static %}{% static 'core/img/pavos.jpg' %}{% endblock %}
{% block headers %}
<div id="cuenta" class="animate__animated animate__bounce"></div>
<script>
  const _TIMEOUT = 2000;
  const _COUNTDOWN = 20;
  const cuenta = document.createElement('h1');
  var preguntaCountdown = null;
   function cuentaRegresiva(numero) {
     var contador = numero;
     cuenta.innerHTML = '<span>'+contador+'</span>';
     document.getElementById("cuenta").appendChild(cuenta);
     preguntaCountdown = setInterval(function() {
       contador--
       if (contador < 0) {
         clearInterval(preguntaCountdown);
         cuenta.innerHTML = '<div class="error-color">¡Tiempo fuera!</div>';
         document.getElementById("cuenta").appendChild(cuenta);
          setTimeout(() => {
            const url = "{% url 'juego' categoriaId=3 preguntaId=4 %}";
            window.location.href = url;
          }, _TIMEOUT);
       } else {
         cuenta.innerHTML = '<span>'+contador+'</span>';
         document.getElementById("cuenta").appendChild(cuenta);
       }
     }, _TIMEOUT);
   }

   function validarElCorrecto(id, preguntaId, correcto) {
    clearInterval(preguntaCountdown);
    $(".j-button").removeClass("btn-outline-secondary");
      const opcionUrl = `{% url 'opcionCorrecta' %}?preguntaId=${preguntaId}`;
      fetch(opcionUrl).then(response => response.json()).then(function(data) {
          const { opciones } = data;
          respuestCorrecta = opciones.find(op => (op.correcto));
          $(`#${respuestCorrecta.id}`).addClass("correcto-highlight");
          if(correcto === 'True') {
            cuenta.innerHTML = '<div class="exito-color">¡Correcto!</div>';
            document.getElementById("cuenta").appendChild(cuenta);
          } else {
            $(`#${id}`).addClass("incorrecto-highlight");
            cuenta.innerHTML = '<div class="error-color">Incorrecto!</div>';
            document.getElementById("cuenta").appendChild(cuenta);
          }
          setTimeout(() => {
            const url = "{% url 'juego' categoriaId=3 preguntaId=4 %}";
            window.location.href = url;
          }, _TIMEOUT);
        })
   }
   cuentaRegresiva(_COUNTDOWN);
</script>
<span class="subheading">{{categoria.nombre}}</span>
{% endblock %} 

{% block content %}
<div class="row">
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img
      class="img-fluid"
      src="{{pregunta.imagen}}"
      alt=""
    />
  </div>
  <div class="col-lg-7 col-md-8">
    <h4 class="section-heading">{{pregunta.pregunta}}</h4>
    {% for op in opciones %}
    <div>
      <button 
        id={{op.id}}
        onclick="validarElCorrecto('{{op.id}}', '{{op.pregunta_id}}', '{{op.correcto}}')"
        type="button" 
        class="btn btn-outline-secondary btn-block j-button">{{op.opcion}}
        </button>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %} 
