{% extends 'core/base.html'%} {% block title %}Portada{% endblock %}
{% block background %} {% load static %}{% static 'core/img/museo-del-barro.jpg' %}{% endblock %}
{% block headers %}
{% block js_footer %}{% include 'core/templates/core/categoria.js.html' %}{% endblock js_footer %}
<h2 class= "titulo-juego">Juego de Preguntas Sobre la Provincia del Chaco</h2>
<div class="row">
   <div class="col-lg-8 col-md-10 mx-auto j-box-1">
      <span class="mensaje-categoria">Seleccione una categoría de preguntas</span>

        {% comment %} <div class="row j-box-1">
          <div class="row j-box-1">
            <h6><i class="fa fa-trophy"></i> Nivel Básico</h6>
          </div>
          <div class="col-md-4">
            <h6><i class="fa fa-trophy"></i> Nivel Medio</h6>
          </div>
          <div class="col-md-4">
            <h6><i class="fa fa-trophy"></i> Nivel Master</h6>
          </div>
        </div> {% endcomment %}
        <div class="row j-box-1">
        <div class="col-md-12">
        {% for copa in copitas %}
          <small class="copas"><i class="fa fa-trophy" '2g'></i>  {{copa.nivel}} : {{copa.categoria}}</small>
        {% endfor%}
        </div>
        </div>
    </div>
    <div class="col-lg-10 col-md-12 mx-auto j-box-1">
      <ul>
        {% for categoria in categorias %}
        <li>
          <button 
            id={{categoria.key}} 
            type="button" class="btn btn-block btn-warning j-button" 
            onclick="categoriaOnClick('{{ categoria.key }}', '{{ categoria.id }}')">
            {{categoria.nombre}}
          </button>
        </li>
        {% endfor %}
      </ul>
    </div> 
    
    <div class="col-lg-8 col-md-10 mx-auto">
        <a onclick="empezarJuego()"
           class="btn btn-primary btn-lg j-button start-button" 
           role="button"><i class="fa fa-rocket fa-2x"></i> Empezar Juego</a>
    </div> 
</div>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-2">
    <img
      class="img-fluid avatar avatar-profile"
      src="{% static 'core/img/avatar/monster_7.svg' %}"
      alt=""
    />
  </div>
  <div class="col-md-10">
   
    
        {% if request.user.first_name %}
          <h2 class="section-heading">{{request.user.first_name}} {{request.user.last_name}}</h2>
        {% else %}
          <h2 class="section-heading">{{request.user.username}}</h2>
        {% endif %}
            
        <p class='progreso'>Progreso</p>
          <table class = "table">
            <thead class='tabla-progreso'>
              <tr>
                <th>Jugar</th>
                <th>Categoría</th>
                <th>Nivel</th>
                <th>Cantidad de Preguntas</th>
                <th>Respuestas Correctas</th>
                <th>Compartir</th>
              </tr>
            </thead>
            <tbody>
              {% for puntuacion in puntuaciones %}
              <tr class='datos-progreso'>
                <td><a href="{% url 'juego' puntuacion.categoria.id puntuacion.nivel.id %}">
                  <i class="fa fa-history"></i>
                </a></td>
                <td>{{puntuacion.categoria}}</td>
                <td>{{puntuacion.nivel}}</td>
                <td>{{puntuacion.cantidad_preguntas}}</td>
                <td>{{puntuacion.cantidad_respuestas}}</td>
                
                <td>
                {% autoescape on %}
                {% with "https://juegochacoapp.herokuapp.com/" as host %}
                {% with "Share in" as share_txt %}
                {% with content.get_url as page_url %}
                {% with content.title as title %}
                

                {% with "twitter" as service %}
                  <a href="http://twitter.com/share?url={{ host }}{{ page_url }}&amp;text={{ title }}" target="_blank" title="{{ share_txt }} {{ service }}">
                    <i class="fa fa-twitter"></i>
                  </a>
                {% endwith%}

                {% with "facebook" as service %}
                  <a href="http://www.facebook.com/share.php?u={{ host }}{{ page_url }}&amp;t={{ chilo }}" target="_blank" title="{{ share_txt }} {{ service }}">
                    <i class="fa fa-facebook"></i>
                  </a>
                {% endwith %}

                {% with "instagram" as service %}
                  <a href="http://www.instagram.com/reader/link?title={{ title }}&amp;url={{ host }}{{ page_url }}" target="_blank" title="{{ share_txt }} {{ service }}">
                    <i class="fa fa-instagram"></i>
                  </a>
                {% endwith %}
                
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endautoescape %}
                
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      
  
  </div>
</div>
{% endblock %}






