.j-button {
  cursor: pointer;
  margin: 5px;
  border-radius: 0.5rem;
}

.j-box-1 {
  padding: 20px;
}

.highlight {
  background-color: #183153;
  color: white;
  font-weight: 900;
}

.correcto-highlight {
  background-color: #059862;
  color: white;
  font-weight: 900;
}

.incorrecto-highlight {
  background-color: #f62d51;
  color: white;
  font-weight: 900;
  -webkit-animation: shakeX 1s;
  animation: shakeX 1s;
}

.countdown {
  color: #059862;
}

.error-color {
  color: #f62d51;
  -webkit-animation: heartBeat 1s;
  animation: heartBeat 10s;
  text-shadow: 2px 2px 2px black;
}

.exito-color {
  color: #059862;
  text-shadow: 2px 2px 4px #000;
  -webkit-animation: heartBeat 1s;
  animation: heartBeat 10s;
}

.masthead2 {
  background-color: #38383d;
}

.j-button-poi {
  cursor: pointer;
}

.center {
  text-align: center !important;
}

.avatar-profile {
  width: 100% !important;
}

.registro-profile {
  width: 10% !important;
}

ul {
  list-style: none;
  text-decoration: none;
}

ul li button:hover {
  background: #183153 !important;
  color: white !important;
  transition: all 300ms;
  text-decoration: none;
  -webkit-animation: rubberBand 1s;
  animation: rubberBand 1s;
}

.start-button {
  font-size: large;
  background-color: #1c7ed6;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  flex-grow: 1;
  padding: 1.5rem;
  text-shadow: 2px 2px 2px black;
}

.start-button:hover {
  background-color: #1c7ed6 !important;
}

.start-button-animation {
  -webkit-animation: tada 1s;
  animation: tada 1s;
}

.start-button-animation-disabled {
  -webkit-animation: shakeX 1s;
  animation: shakeX 1s;
}

.copas {
  font-weight: 900;
  padding: 10px;
  color: #ffc107;
  text-shadow: 2px 2px 2px black;
  font-weight: 800;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mensaje-categoria {
  text-shadow: 2px 2px 2px black;
  font-weight: 800;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.titulo-juego {
  text-shadow: 2px 2px 2px black;
  font-weight: 800;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.progreso {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tabla-progreso {
  font-weight: 800;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.datos-progreso {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sharein {
  margin-left: 4px;
  float: right;
  display: block;
  margin-top: 16px;
}

.sharein a {
  text-decoration: none;
  font-size: larger;
  color: #1c7ed6 !important;
}
